<div class="container">
<h1><%= @list.name %></h1>
<div class="row">
  <div class="col-md-8">
    <div class="js-items">
    <%= render :partial => 'items/item', collection: @items %>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <%= render :partial => 'items/form' %>
  </div>
</div>
</div>