<% if current_user %>
  <h4>Add an item:</h4>
  <%= form_for [@list, @items], remote: true do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_area :name, class: 'form-control', placeholder: "Enter item details" %>
      <br>
      <%= f.submit "Add Item", class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>