<div class="media-body">
    <% @items.each do |item| %>
      <%= item.name %>
      <hr>
    <% end %>
    <%= link_to "Completed", [current_user, @item],  class: 'glyphicon glyphicon-ok', method: :delete, remote: true %>
    <hr>
</div>