<div class="media-body">
    <% @list.items.each do |item| %>
      <div id="<%= item.id %>">
        <%= item.name %>
      <%= link_to "", list_item_path(current_user, @list),  class: 'glyphicon glyphicon-ok', method: :delete, remote: true %>
      </div>
    <% end %>
    <hr>
</div>